.home-page {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: -webkit-radial-gradient(rgb(230, 95, 95),rgb(158, 158, 238),rgb(245, 245, 168),rgb(226, 142, 208),rgb(148, 226, 172),rgb(149, 237, 248),rgb(245, 245, 168));
  }
  
  .tip {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
  }
  .h2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tip{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tip h2 {
    color: #333;
  }
  
  .intro,
  .conclusion {
    font-style: italic;
  }
  .remember{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(204, 4, 4);
  }
  .welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.8rem;
    color: rgb(7, 4, 204);

  }
  .para{
    font-size: 2rem;
    color: rgb(104, 15, 131);

  }